.explanation {
  border: 1px solid steelblue;
  background: lavender;
  width: 100%;
  float: left;
  color: #333333; }
  .explanation p, .explanation h4 {
    float: left;
    margin: 20px;
    width: auto !important;
    clear: both; }
