#reason_key {
  float: right;
  width: 100%;
  margin-bottom: 30px; }
  #reason_key .row {
    float: left;
    width: 100%; }
  #reason_key .description {
    float: left;
    padding: 5px 5px 0 10px; }
  #reason_key .reason {
    width: 30px;
    height: 30px;
    float: left;
    margin-bottom: 5px; }

.period {
  text-indent: -99999999px; }
