%ul
  %li=link_to_unless_current "Students", year_group_path
%h3 LZ - Weekly
%ul
  %li=link_to_unless_current "Reasons", students_per_week_by_reason_year_group_path
  %li=link_to_unless_current "Ethnicity", students_per_week_by_ethnicity_year_group_path
  %li=link_to_unless_current "Gender", students_per_week_by_gender_year_group_path
